.card {
    display: flex;
    gap: 20px;
    padding: 1rem 0;
    border-bottom: 1px solid rgb(189, 189, 189);
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid rgb(110, 110, 110);
    }

    @media screen and (min-width: 700px) {
        position: relative;
        display: inline-block;
        border: 1px solid rgb(189, 189, 189);
        border-radius: 5px;
        padding: 1rem;
    }

    .category_pill {
        display: inline-block;
        background-color: rgb(200, 214, 223);
        padding: 0.2rem 0.5rem;
        border-radius: 5px;

        @media screen and (min-width: 700px) {
            position: absolute;
            top: 10px;
            left: -5px;
        }
    }

    img {
        width: 200px;
        height: 200px;
        border-radius: 2px;
    }

    .card__details {
        margin: auto 0;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p {
        margin: 0;
        font-size: 1rem;
        color: rgb(108, 131, 153);
    }
}