.side_gallery {
    box-sizing: border-box;
    margin-top: 5rem;
    width: 500px;

    @media screen and (max-width: 700px) {
        display: none;
    }

    .main_image {
        height: 40vh;
        overflow: hidden;
        border-radius: 0.2rem;
    }

    .secondary_images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
        gap: 1rem;
        margin-top: 2rem;

        .image_thumb {
            border-radius: 0.5rem;
            overflow: hidden;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}