.header {
    background-color: #2a4c7d;
    color: #c2c2c2;
    text-align: left;
    min-height: 2rem;
    padding: 0.5rem 2rem;

    .container {
        position: relative;
        max-width: 1200px;
        margin: auto;

        @media screen and (min-width: 700px) {
            display: flex;
            align-items: center;
        }
    }

    
    .navs {
        font-size: 1.1rem;
        overflow: hidden;
        transition: max-height 1s ease-in-out;
        max-height: 1000px;


        @media screen and (min-width: 700px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            overflow: visible;
        }
        
    }

    ul {
        list-style: none;
        padding: 0;

        @media screen and (min-width: 700px) {
            display: flex;
            justify-content: space-between;
            margin: 0 1rem;
        }
        
        .nav__item {
            margin: 1rem 0;
            position: relative;

            button {
                background-color: inherit;
                color: #c2c2c2;
                outline: none;
                border: none;
                cursor: pointer;
                font-size: 1.2rem;

                &:hover {
                    color: #fff;
                }
            }

            span {
                font-size: 0.7rem;
            }

            @media screen and (min-width: 700px) {
                margin: 0 1rem;
            }
        }
    }

    .subNav {
        background-color: #fff;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        border: 1px solid #c2c2c2;

        div {
            border-bottom: 1px solid #bbbbbb;
            display: block;
            width: 100%;
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }

        p {
            color: rgb(145, 145, 145);
            margin: 0;
            padding: 0;
        }

        li {
            padding: 0.5rem 0;
            // border: 1px solid green;

            &:hover {
                background-color: rgb(214, 214, 214);
            }
        }

        div:last-child {
            border: none;
            margin-bottom: 0;
        }

        a {
            color: #363636;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.2rem;

            svg {
                width: 1.3rem;
            }
        }

        .about {
            color: #000;
            padding: 0.5rem 0;
            border-bottom: 1px solid #bbbbbb;
        }

        @media screen and (min-width: 700px) {
            position: absolute;
            top: 100%;
            margin: 0;
            width: max-content;

        }
    }

    .secondaryNav__list {

        .subNav {
            left: -100px;
        }
    }

    .toggleBtn {
        background-color: inherit;
        border: none;
        color: #c2c2c2;
        width: 3rem;
        height: 2.5rem;
        cursor: pointer;
        border: 1px solid #3562a0;
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            color: #fff;
        }

        @media screen and (min-width: 700px) {
            display: none;
        }
    }

    .logo {
        width: 10%;
        display: block;

        img {
            width: 100%;
        }
        
        @media screen and (min-width: 700px) {
            width: 3%;
        }
    }
}