@font-face {
    font-family: "Open Sans Light";
    src: url("/public/OpenSans-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: 'Open Sans Light', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
