name: Lint the code

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Enable Corepack
        run: corepack enable

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'yarn'

      - name: Install modules
        run: |
          yarn config set --home enableTelemetry 0
          yarn config set nodeLinker node-modules
          yarn

      - name: Install modules
        run: |
          corepack enable
          yarn config set --home enableTelemetry 0
          yarn

      - name: Lint the code
        run: yarn lint
